*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-lightBlue : #edf2f4;
    --darkBlue : #2b2d42;
    --lightBlue : #8d99ae;
    --lightRed : #ef233c;
    --darkRed : #d90429;
}


body{
    background-image: url(./img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: var(--bg-lightBlue);
}